plotly>=4.9.0
dash>=1.14
dash-renderer>=1.6.0
dash-html-components>=1.0.3
dash-core-components>=1.10.2
numpy
pandas
joblib
matplotlib
statsmodels
nbconvert
ipykernel
jupyter_client
sphinx-gallery
zipp
